html,body{
  margin: 0;
  padding: 0;
}


#background{
    background-color: #9e9e9e4a;
    background-image: url(../images/bg.jpg);
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: table;
}
