html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

#nowPlayingBarCointaner{
  background: rgb(47, 43, 43);
  bottom: 0;
  position: fixed;
  width: 100%;
}

#nowPlayingBar{
  height: 90px;
  padding: 16px;
  display: flex;
}

#nowPlayingIcon,
#nowPlayingVolume{
  width: 30%;
  min-width: 180px;
}

#nowPlayingButtons{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}

#nowPlayingIcon .content{
  width: 100%;
}

#nowPlayingButtons .content{
  width: 100%;
  height: 57px;
}

.playerControls .butons{
  margin: 0 auto;
  display: table;
}

.butons .controlButton{
  background: transparent;
  border: none;
  vertical-align: middle;
}

.butons .controlButton img{
    width: 20px;
    height: 20px;
}

.butons .play img,
.controlButton .pause img{
  width: 32px;
  height: 32px;
}

.butons .pause{
  display: none;
}

.controlButton:hover{
  cursor: pointer;
}

.progressTime{
  color: white;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}

.playBackBar{
  display: flex;
}

.progressbar{
  width: 100%;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
  margin-top: 4px;
}

.progressbarBg{
  height: 4px;
  background: #404040;
  width: 100%;
  border-radius: 4px;
}

.progress{
  background: #a0a0a0;
  height: 4px;
  width: 0;
  border-radius:4px;
}

.content .albumLink{

}

#nowPlayingIcon .albumartwork{
  height: auto;
  width: 100%;
  max-width: 60px;
  margin-right: 15px;
  float: left;
  background-size: cover;
}

#nowPlayingIcon .trackInfo {
  display: table;

}

#nowPlayingIcon .trackInfo .trackName{
  margin: 6px 0;
  display: inline-block;
  width: 100%;
}

#nowPlayingIcon .artistName span{
  font-size: 12px;
  color: #a0a0a0;
  text-transform: capitalize;
}

#nowPlayingVolume,
#nowPlayingIcon{
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

#nowPlayingButtons{
  flex-grow: 2;
}
#nowPlayingVolume .volumeBar{
  width: 180px;
  position: absolute;;
  right: 0;
}

.volumeBar .progressbar{
  width: 125px;
}

#topContainer{
  width: 100%;
  height: 100%;
}

#NavBarContainer{
  background: #000000ed;
  width: 220px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

#NavBarContainer .navBar{
  padding: 25px;
  display: flex;
  flex-direction: column;
}

#NavBarContainer .navBar img{
  width: 32px;
}

.navBar .group{
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  padding: 10px 0;
  margin-top: 10px;
}

.navItem{
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  display: block;
  letter-spacing: 1px;
}

.navItem .navItemLink{
  text-decoration: none;
  color: #a0a0a0;
}


.group .navItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
